<div class="employee--card">
  <div>
    <div class="employee--details">
      <div class="employee--avatar">
        <%if employee.avatar.attached? %>
          <%= image_tag(employee.avatar, alt:"Employee avatar")%>
        <% end %>
      </div>
      <div class="employee--information">
        <p class="employee--name"><%= link_to employee.name, employee %></p>
        <p class="employee--position"><%= employee.position %></p>
      </div>
    </div>
  </div>
  <div class="employee--card__link">
      <%= link_to image_tag("edit.png", alt: "Edit"), edit_employee_path(employee) %>
      <%= link_to image_tag("trash.png", alt: "Trash"), employee_path(employee), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  </div>
</div>

