<div id="<%= dom_id employee %>">
<div class="new--department">
  <div class="avatar--imagen">
    <% if employee.avatar.attached? %>
      <%= image_tag employee.avatar%>
    <% end %>
  </div>
  <p class="employee--name__details">
    <%= employee.name %>
  </p>
  <p class="employee--position__details">
    <%= employee.position %>
  </p>
    <p class="employee--deptname__details">
    <%= employee.department.name %>
  </p>
  <p class="employee--nationality__details">
    <%= employee.nationality %>
  </p>
  <p class="employee--years">
    <% if employee.birth_date %>
      <%= ((Time.zone.now - employee.birth_date.to_time) / 1.year.seconds).floor  %>
      years
    <% else %>
      No birth date
    <% end %>
  </p>

<div class="employee--link">
  <%= link_to image_tag("edit.png", alt: "Edit"), edit_employee_path(employee) %>
  <%= link_to image_tag("trash.png", alt: "Trash"), employee, method: :delete %>
</div>
  <p>
   <strong>Manager</strong>
   <% if employee.manager_id %>
     <%= render "employee_card", employee: employee %>
   <% else %>
      No Manager
    <% end %>
  </p>
  <p>
   <strong>Reports</strong>
    <% employee.reports.each do |report| %>
      <%= render "employee_card", employee: report %>
    <% end %>
    <%= "No reports" if employee.reports.empty? %>
  </p>

  <h3>Feedback</h3>
  
  <%= render "feedbacks/form", {feedback: Feedback.new, feedbackable: employee } %>
  <% employee.receive_feedbacks.each do |feedback| %>
  <div class="feedback--card">
    <p class="feedback--name">By <%= feedback.employee.name %></p>
    <p class="feedback--body"><%= feedback.body %></p>
    <div class="feedback--link">
        <p class="feedback--created"><%= feedback.created_at %></p>
        <%= link_to image_tag("trash.png", alt: "Trash"), feedback, method: :delete %>
    </div>
  </div>
  <% end %>
  <%= link_to "Back", departments_path , class: "input buttom--department__back"%>
</div>
</div>