<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class: "label--department" %>
    <%= form.text_field :name, class: "input input--department", placeholder: "John Doe" %>
  </div>

  <div>
    <%= form.label :nationality, style: "display: block", class: "label--department" %>
    <%= form.text_field :nationality, class: "input input--department", placeholder: "Peru" %>
  </div>

  <div>
    <%= form.label :email, style: "display: block", class: "label--department" %>
    <%= form.text_field :email, class: "input input--department", placeholder: "example@mail.com" %>
  </div>

  <div>
    <%= form.label :position, style: "display: block", class: "label--department" %>
    <%= form.text_field :position, class: "input input--department", placeholder: "eternal apprentice" %>
  </div>

  <div>
    <%= form.label :birth_date, style: "display: block", class: "label--department" %>
    <%= form.date_field :birth_date, class: "input input--department" %>
  </div>

  <div>
    <%= form.label :department_id, style: "display: block", class: "label--department" %>
    <%= form.collection_select :department_id, Department.order(:name), :id, :name, {}, class: "input input--department"  %>
  </div>

  <div>
    <%= form.label :manager_id, style: "display: block", class: "label--department" %>
    <%= form.collection_select :manager_id, employee.id ? Employee.where("id != ?", employee.id) : Employee.order(:name), :id, :name, {}, include_blank: "Select manager", class: "input input--department" %>
  </div>

  <div>
    <%= form.label :avatar, style: "display: block", class: "label--department" %>
    <%= form.file_field :avatar, class: "input" %>
  </div>

  <div>
    <%= form.submit class: "input buttom--department__create"%>
  </div>
  <%= link_to "Back", departments_path, class: "input buttom--department__back"%>
<% end %>
