<div id="<%= dom_id department %>" class="department--card">
    <% if department.cover.attached? %>
        <%= image_tag(department.cover, alt: "Cover Departament")%>
    <% end %>
  <div class="department--card__title">
    <p class="department--card__name">
      <strong><%= link_to department.name, department %></strong>
    </p>
    <p class="department--card__count">
      <%= department.employees_count %> employees
    </p>
  </div>
  <div class="department--card__link">
    <%= link_to image_tag("edit.png", alt: "Edit"), edit_department_path(department) %>
    <%= link_to image_tag("trash.png", alt: "Trash"), department, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
</div>
