<div>
    <p class="title">
      <%= @department.name %>
    </p>
    
</div>
<div class="new--department">
  <p class="description--department">
    <%= @department.description %>
  </p>

  <%= link_to "New Employee", new_employee_path, class: "buttom--employee__create"%>

  <div class="department--information">
    <h4>Employees</h4>
    <% @department.employees.each do |employee| %>
      <%= render "employees/employee_card" , employee: employee%>
    <% end %>
  </div>
  <div class="department--information">
    <h4>Feedback</h4>
    
    <%= render "feedbacks/form", {feedback: Feedback.new, feedbackable: @department } %>
  
    <% @department.receive_feedbacks.each do |feedback| %>
    <div class="feedback--card">
      <p class="feedback--name">By <%= feedback.employee.name %></p>
      <p class="feedback--body"><%= feedback.body %></p>
      <div class="feedback--link">
        <p class="feedback--created"><%= feedback.created_at %></p>
        <%= link_to image_tag("trash.png", alt: "Trash"), feedback, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    </div>
    <% end %>
    <%= link_to "Back", departments_path, class: "input buttom--department__back"%>
  </div>
</div>